@import "../../responsive.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  a {
    transition: transform 0.2s ease;

    @include sm {
      display: none;
    }

    &:hover {
      transform: translateY(-1px);
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      gap: 10px;
      align-items: center;

      img {
        width: 28px;
      }

      span {
        @include md {
          display: none;
        }

        @include sm {
          display: initial;
        }
      }
    }
  }

  .right {
    flex: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;

    @include md {
      background-color: initial;
    }

    @include sm {
      background-color: initial;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .register {
      background-color: #fece51;
      border-radius: 3px;
    }

    .menuIcon {
      display: none;
      z-index: 2;

      img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }

      @include sm {
        display: initial;
      }
    }

    .menu {
      position: absolute;
      background-color: #1a1a1a;
      color: white;
      height: 100vh;
      width: 50vw;
      top: 0;
      right: -50%;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
